@CHARSET "ISO-8859-1";
body {
  padding-top: 2px;
  padding-bottom: 2px;
}

.navbar {
  margin-bottom: 2px;
}

.navbar-brand {
  float: left;
  padding: 1px 1px;
  font-size: 18px;
  line-height: 20px;
}

.ui-slider-horizontal .ui-state-default {
	background: url('img/myTr.png') no-repeat scroll 60% 60%;
	width:25px; 
    height:25px; 
	border:none;
}

.photo-map {
  vertical-align: middle;
  width: 120px;
  height: 120px;
}

p.timestamp {
  color: #999;
  font: 10px Helvetica, Arial, sans-serif;
  margin: 6px 0 4px 0;
}


.wrap {
  margin: 0 auto;
  padding: 0 5px;
  width: 1250px;
}

.feed {
  background: #fff;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  box-shadow: 0 0 2px #d8d8d8;
  margin: 10px 0 10px 0;
  margin-top: 15px;
  float: left;
  width: 330px;
}

.feed .post {
  list-style-type: none;
  margin-top: 27px;
  padding: 15px 15px 12px 15px;
}

.feed .post :hover {
	background-color: #FFF;
}

.feed .post .owner {
  background-color: #F8F8F8;
  border: 1px solid #e3e3e3;
  border-top: 1px solid #fff;
  border-radius: 0 0 3px 3px;
  margin: -5px 0 0 0;
  padding: 10px;
  width: 300px;
}

.image-wrap {
  background: url('img/bg2.png') repeat 0 0;
  box-shadow: inset 0 0 10px 0 #999;
  height: 300px;
  line-height: 300px;
  overflow: hidden;
  width: 300px;
}

.image-wrap :hover {
	box-shadow: inset 0 0 10px 0 #fff;
}

.photo-image {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.box {
  position:absolute;
  top: 600px;
  left: 20px;
  width: 400px;
  padding:10px;
  border:5px solid gray;
  margin:10px;
}

.next-3-pict {
  position:relative;
  top: 400px;
  left: 5px;
}

.check {
  background: url('img/check.png') no-repeat 0 50%;
  width: 38px;
}

.view-title   { width: 970px; margin: 10px 0 0 5px; font-weight: bold;}

.view-title .tags { 
	position:relative; 
	top:-180px;
	left:390px;
}
